<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Message from: <%= "#{@name}" %></h2>
    <p>You have received a message from: <strong><%= "#{@name}" with email: "#{@email}." %></strong></p>
    <p><%= @body %></p>
  </body>
</html>