
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "pages";

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.job_title_icon {
  color: #fff;
  border: 1px solid #cccccc;
  display: inline-block;
  width: 33px;
  height: 33px;
  padding: 0.4rem;
  border-radius: 6px;
  background-color: #337AB7;
  text-align: center;
  vertical-align: middle;
}

.well.profile-description {

}