<!DOCTYPE html>
<html>
<head>
  <title>Code Saas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
      <div class="jumbotron">
        <h3>Code SaaS</h3>
      </div>

      </div>
      <div class="col-xs-9 well">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
